body{
    background-color: #27282c;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    .title{
        text-align: center;
        line-height: 140px;
        color: #fff;
        font-size: 50px;
    }
    .charts{
        text-align: center;
        height: 80%;
        .chart{
            display: inline-block;
            width: 45%;
            height: 450px;
        }
    }
}